* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  // transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
}

.app {
  position: relative;
}

.container {
  max-width: 37.5rem;
  margin: auto;
  padding: 1.2rem;
  font-family: "Playfair Display", serif;
  // border: 1px solid green;
  background-color: #fff;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 0 1.2rem;

  .logo {
    display: flex;
    gap: 1.8rem;
    align-items: center;

    img {
      width: 2.4rem;
      height: 1.4rem;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }

  .user-dp {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    background-color: pink;
  }
}
