.prod-desc {
  .container {
    display: grid;
    gap: 3rem;
  }

  .exit-bar {
    padding: 0.1rem;

    button {
      width: 3rem;
      height: 3rem;
      background: rgba(128, 128, 128, 0.127);
      background: none;

      img {
        width: 100%;
        height: 100%;
        filter: contrast(100);
      }
    }
  }

  .disp-prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.2rem;

    .prod-img {
      height: 15.5rem;
      width: 100%;

      img {
        height: 100%;
      }
    }

    .prod-details {
      font-family: "Work Sans", serif;
      display: grid;
      gap: 1.5rem;
      position: relative;
      // background-color: deeppink;

      .liked-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;

        img {
          width: 100%;
          height: 100%;

          background-color: $white;
          mix-blend-mode: screen;
        }
      }

      h2 {
        font-weight: 700;
        font-size: 2.2rem;
        font-family: "Playfair Display", serif;
      }

      h4 {
        margin: 0.5rem 0 1rem;
        font-size: 1.4rem;
        font-weight: 400;

        p {
          padding: 0.2rem 0 0;
          font-size: 1.2rem;
          font-weight: 400;
          color: #848484;
        }
      }

      h3 {
        font-weight: 700;
        font-size: 2rem;
      }

      button {
        text-transform: uppercase;
        font-family: "Work Sans", serif;
        width: fit-content;
      }

      .buy-btn {
        background: $black;
        color: $white;
        padding: 0.7rem 1.3rem;
      }

      .added {
        font-family: "Playfair Display", serif;
        font-size: 1.4rem;
        text-transform: uppercase;
      }

      .add-btn {
        color: $black;
        border-bottom: 0.2rem solid $black;
        background: none;
        padding: 0.1rem;
        cursor: pointer;
      }
    }
  }

  .prod-info {
    font-family: "Work Sans", serif;
    display: grid;
    gap: 2.5rem;

    .info-bar {
      display: flex;
      justify-content: space-between;

      .heading {
        font-weight: 700;
        font-size: 1.4rem;
        cursor: pointer;
      }

      .current-bar {
        border-bottom: 2px solid $black;
        padding: 0 0 0.5rem;
      }
    }

    .info-stn {
      color: #5b5b5b;
      font-size: 1.4rem;
      line-height: 2.1rem;

      h4 {
        font-weight: 600;
        font-size: 1.4rem;
        color: $black;
        padding: 0.5rem 0;
      }

      p {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
