.wc-comp-stn {
  position: fixed;
  bottom: 5rem;
  width: 100%;
  translate: 0% 100%;
  transition: all 0.3s;
  z-index: 10;
  //   height: 100%;

  .container {
    background: none;

    height: 60vh;
    padding-top: 0;
  }
}

.show {
  translate: 0% 0%;
  transition: all 0.3s;
}

.bar {
  width: 100%;
  padding: 1rem 0 6rem;
  // background: rgba(255, 255, 255, 0.933);
  background: none;
  position: sticky;
  top: 0;

  .bar-2 {
    width: 14rem;
    height: 0.3rem;
    margin: auto;
    background-color: $black;
  }
}

.empty {
  text-align: center;
  line-height: 2.8rem;
}

.wishlist-stn,
.cart-stn {
  height: 100%;
  padding: 0 2.2rem 2.2rem;
  border-radius: 4rem 4rem 0 0;
  border: 1px solid rgba(217, 217, 217, 0.7);
  // background: rgba(255, 255, 255, 0.933);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  backdrop-filter: blur(5px);

  // display: grid;
}

.pack {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 6rem;
}

.item-component {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;

  border-bottom: 0.2rem solid #00000064;
  padding: 2.1rem 0;

  .left {
    .img-holder {
      width: 8.1rem;
      height: 8.1rem;
      margin-bottom: 1rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .amount {
      background-color: fuchsia;
      display: flex;

      button {
        font-weight: 700;
        font-size: 1.6rem;
        padding: 0.58rem 1.16rem;
        color: $white;
        background: $black;
      }

      input {
        width: 3.2rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        color: $black;
        background: $white;
        // padding: 0.58rem 1.16rem;
        border: 0.72px solid black;
      }
    }
  }

  .right {
    display: grid;
    font-family: "Work Sans", serif;

    h2 {
      font-family: "Playfair Display", serif;
    }

    h4 {
      margin: 0.5rem 0 1.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.8rem;

      p {
        font-size: 1.2rem;
        color: #848484;
      }
    }

    .price {
      font-weight: 700;
      font-size: 1.8rem;
    }

    button {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.4rem;
      font-family: "Work Sans", serif;
      width: fit-content;
      padding: 0 0 0.2rem;
      border-bottom: 0.2rem solid $black;
      background: none;
    }
  }
}
